<!-- Desktop Header -->
<header class="py-3 bg-white sticky top-0 z-50 hidden md:block">
    <nav>
      <div class="container mx-auto flex justify-between mb-3 items-center px-4 md:px-0">
        <ul class="flex flex-wrap items-center gap-4 text-gray-500 text-sm">
          <li><a [routerLink]="'/about'" class="hover:text-orange-600 transition-colors">About Us</a></li>
          <li><a [routerLink]="'/account'" class="hover:text-orange-600 transition-colors">My Account</a></li>
          <li><a [routerLink]="'/wishlist'" class="hover:text-orange-600 transition-colors">Wishlist</a></li>
          <li class="h-4 w-px bg-gray-300 mx-2"></li>
          <li>
            <p>
              We deliver every day from
              <span class="text-orange-600 font-semibold">7:00 to 23:00</span>
            </p>
          </li>
        </ul>
  
        <ul class="flex items-center gap-6 text-gray-500 text-sm">
          <li>
            <select class="border-none px-3 py-1  text-sm transition-all"
                    (change)="switchLanguage($event)">
              <option value="en">English</option>
              <option value="ar">العربية</option>
            </select>
          </li>
          <li>
            <select class="border-none px-3 py-1  text-sm  transition-all"
                    (change)="switchCurrency($event)">
              <option value="USD">USD</option>
              <option value="EGP">EGP</option>
            </select>
          </li>
          <li><a [routerLink]="'/tracking'" class="hover:text-orange-600">Order Tracking</a></li>
        </ul>
      </div>
  
      <hr class="border-b border-gray-200 mb-2">
  
      <div class="flex justify-between items-center container mx-auto px-4 py-3">
        <div class="flex items-center">
          <a [routerLink]="'/home'" class="relative">
            <img src="/logos/bag-logo.svg" alt="Logo" class="h-8">
          </a>
          <a class="relative ml-4">
            <div class="flex items-center">
              <img src="/icon/locashin.svg" alt="Location Icon" class="mb-1" />
              <div class="flex flex-col ml-2">
                <samp class="text-xs text-gray-600">Deliver to</samp>
                <ng-select
  [items]="cities"
  bindLabel="label"
  bindValue="value"
  placeholder="All"
  [(ngModel)]="selectedCity"
  [clearable]="false"
  [searchable]="false"
  class="custom-ng-select w-[120px] h-[35px] text-gray-700">
</ng-select>

              
              
              </div>
            </div>
          </a>
        </div>
  
        <div class="flex items-center flex-1 relative p-3 justify-center">
          <input 
            type="text" 
            placeholder="Search for products, categories or brands..." 
            class="border border-gray-300 px-4 py-2 w-full pr-10 text-sm bg-[#F3F4F6] placeholder-[#6B7280] rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all"/>
          <button class="absolute right-5 top-1/2 transform -translate-y-1/2 bg-transparent">
            <img src="/icon/search.svg" alt="Search" class="w-5 h-5 text-gray-500"/>
          </button>
        </div>
  
        <div class="flex items-center gap-6">
          <a [routerLink]="'/profile'" class="relative flex items-center hover:text-orange-600 transition-all">
            <img src="/icon/user.svg" alt="User" class="mb-1">
            <div class="flex flex-col ml-2">
              <samp class="text-sm text-gray-700">Sign In</samp>
              <samp class="text-sm text-gray-700">Account</samp>
            </div>
          </a>
          <a [routerLink]="'/wishlist'" class="relative">
            <img src="/icon/hard.svg" alt="Wishlist" class="w-6 h-6">
            <span class="absolute top-[-9px] right-0 bg-orange-600 text-white rounded-full px-1 text-xs">3</span>
          </a>
          <a [routerLink]="'/cart'" class="relative">
            <img src="/icon/cart.svg" alt="Cart" class="w-6 h-6">
            <span class="absolute top-[-9px] right-0 bg-orange-600 text-white rounded-full px-1 text-xs">3</span>
          </a>
        </div>
      </div>
  
      <hr class="border-b border-gray-200">
      <div class="flex justify-between items-center container mx-auto px-6 py-4">
        <div class="w-3/4 flex space-x-6">
          <div class="relative">
            <button (click)="toggleDropdown()" class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline p-3 rounded-md transition-all">
              Home
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
            <ul *ngIf="isDropdownOpen" class="absolute left-0 mt-2 w-56 bg-white border rounded-md shadow-lg z-10">
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <img src="/icon/all.svg" alt="all" class="mr-2 w-6 h-6">
                <a [routerLink]="'/categories'">All Categories</a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/fruits-vegetables'" class="flex items-center">
                  <img src="/icon/apple.svg" alt="apple" class="mr-2 w-6 h-6">
                  Fruits & Vegetables
                </a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/meats-seafood'" class="flex items-center">
                  <img src="/icon/meat.svg" alt="meat" class="mr-2 w-6 h-6">
                  Meats & Seafood
                </a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/breakfast-dairy'" class="flex items-center">
                  <img src="/icon/egg.svg" alt="egg" class="mr-2 w-6 h-6">
                  Breakfast & Dairy
                </a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/breads-bakery'" class="flex items-center">
                  <img src="/icon/toast.svg" alt="toast" class="mr-2 w-6 h-6">
                  Breads & Bakery
                </a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/beverages'" class="flex items-center">
                  <img src="/icon/cup.svg" alt="cup" class="mr-2 w-6 h-6">
                  Beverages
                </a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/frozen-foods'" class="flex items-center">
                  <img src="/icon/snowflake.svg" alt="snowflake" class="mr-2 w-6 h-6">
                  Frozen Foods
                </a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/biscuits-snacks'" class="flex items-center">
                  <img src="/icon/bar.svg" alt="bar" class="mr-2 w-6 h-6">
                  Biscuits & Snacks
                </a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/grocery-staples'" class="flex items-center">
                  <img src="/icon/wheat.svg" alt="wheat" class="mr-2 w-6 h-6">
                  Grocery & Staples
                </a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/household-needs'" class="flex items-center">
                  <img src="/icon/scoop.svg" alt="scoop" class="mr-2 w-6 h-6">
                  Household Needs
                </a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/healthcare'" class="flex items-center">
                  <img src="/icon/toiletpaper.svg" alt="toilet paper" class="mr-2 w-6 h-6">
                  Healthcare
                </a>
              </li>
              <li class="flex items-center text-[#030712] font-semibold hover:text-[#634C9F] hover:underline hover:bg-gray-100 p-3 rounded-md transition-all">
                <a [routerLink]="'/baby-pregnancy'" class="flex items-center">
                  <img src="/icon/baby.svg" alt="baby" class="mr-2 w-6 h-6">
                  Baby & Pregnancy
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
    </nav>
  </header>
  

  <!-- Mobile Header -->
  <header class="sticky top-0 z-50 bg-white py-2 md:hidden ">
    <nav class="container mx-auto px-4">
      <div class="flex justify-between items-center">
        <button 
          class="text-gray-500  "
          (click)="toggleMenu()" 
          [ngClass]="{'open': isMenuOpen}"
        >
          <div class="space-y-1">
            <span class="block h-0.5 w-6 bg-gray-700"></span>
            <span class="block h-0.5 w-6 bg-gray-700"></span>
            <span class="block h-0.5 w-6 bg-gray-700"></span>
          </div>
        </button>
          <a [routerLink]="'/home'">
          <img src="/logos/bag-logo.svg" alt="Logo" class="h-8" />
        </a>
  
        <div class="flex items-center gap-3">
          <a [routerLink]="'/profile'" class="flex items-center">
            <img src="/icon/user.svg" alt="User" class="h-5" />
          </a>
          <a [routerLink]="'/hard'" class="relative">
            <img src="/icon/hard.svg" alt="Hard" class="h-5" />
            <span class="absolute -top-1 -right-1 bg-orange-600 text-white rounded-full px-1 text-xs">3</span>
          </a>
          <a [routerLink]="'/cart'" class="relative">
            <img src="/icon/cart.svg" alt="Cart" class="h-5" />
            <span class="absolute -top-1 -right-1 bg-orange-600 text-white rounded-full px-1 text-xs">3</span>
          </a>
        </div>
      </div>
  
      <div *ngIf="isMenuOpen" class="mt-4 bg-white space-y-3">
        <ul class="flex flex-col text-gray-700 space-y-2">
          <li><a [routerLink]="'/about'" class="block py-2 px-2 hover:text-orange-600">About Us</a></li>
          <li><a [routerLink]="'/account'" class="block py-2 px-2 hover:text-orange-600">My Account</a></li>
          <li><a [routerLink]="'/wishlist'" class="block py-2 px-2 hover:text-orange-600">Wishlist</a></li>
          <li><a [routerLink]="'/order-tracking'" class="block py-2 px-2 hover:text-orange-600">Order Tracking</a></li>
          <li class="px-2">
            <select class="w-full border border-gray-300 text-sm px-3 py-2 rounded" (change)="switchLanguage($event)">
              <option value="en">English</option>
              <option value="ar">العربية</option>
            </select>
          </li>
          <li class="px-2">
            <select class="w-full border border-gray-300 text-sm px-3 py-2 rounded"
                    (change)="switchCurrency($event)">
              <option value="USD">USD</option>
              <option value="EGP">EGP</option>
            </select>
          </li>
        </ul>
  
        <div class="flex items-center px-2 pt-3 relative">
          <input 
            type="text"
            placeholder="Search..."
            class="w-full border border-gray-300 px-4 py-2 pr-10 text-sm bg-gray-100 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded"
          />
          <button class="absolute right-5 top-1/2 -translate-y-1/2">
            <img src="/icon/search.svg" alt="Search" class="w-5 h-5" />
          </button>
        </div>
      </div>
    </nav>
  </header>
  