<footer class="bg-gray-100 text-gray-800">
  <div class="px-4 md:px-8 lg:px-16 py-10">
    <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-8 items-center">
      <div>
        <h2 class="text-2xl font-semibold mb-2">Join our newsletter for £10 off</h2>
        <p class="text-sm text-gray-600">Register now to get the latest updates on promotions & coupons. Don’t worry, we won’t spam!</p>
      </div>
      <div>
        <form class="flex flex-col sm:flex-row ">
          <div class="flex items-center border border-gray-300 rounded-s-lg  px-3 w-full bg-[#fff]">
            <img src="./icon/email.svg" alt="email icon" class="w-5 h-5 mr-2">
            <input type="email" placeholder="Enter your email address" class="w-full py-2  outline-none " required>
          </div>
            <button type="submit" class="bg-[#634C9F] text-white px-6 py-2  hover:bg-[#434C9F] transition">SEND</button>
        </form>
        <p class="text-xs text-gray-600 mt-2">By subscribing you agree to our <span class="text-[#634C9F]">Terms & Conditions</span> and <span class="text-[#634C9F]">Privacy Policy</span>.</p>
      </div>
    </div>
  </div>

  <hr class="border-t border-gray-300">
  <div class="px-4 md:px-8 lg:px-16 py-10 md:justify-center">
    <div class="max-w-7xl md: mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  lg:grid-cols-5 gap-10">
      <div>
        <h3 class="text-lg font-semibold mb-4">Do You Need Help?</h3>
        <p class="text-sm text-gray-600 mb-4">Autoseligen sew. Neck seed bomb. When antipol kinda new.</p>
        <div class="space-y-3 text-sm">
          <div class="flex items-start gap-2">
            <img src="./icon/phone.svg" alt="Phone" class="w-5 h-5 mt-1">
            <div>
              <p class="text-gray-700">Monday - Friday: 08am - 9pm</p>
              <p class="font-medium text-[#111827]">0 800 300 353</p>
            </div>
          </div>
          <div class="flex items-start gap-2">
            <img src="./icon/email-soled.svg" alt="Email" class="w-5 h-5 mt-1">
            <div>
              <p class="text-gray-700">Need help with your order?</p>
              <p class="font-lg text-[#111827]">info&#64;example.com</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4">Make Money with Us</h3>
        <ul class="space-y-2 text-sm text-gray-700">
          <li><a href="#" class="hover:text-black">Sell on Grogin</a></li>
          <li><a href="#" class="hover:text-black">Sell Your Services on Grogin</a></li>
          <li><a href="#" class="hover:text-black">Sell on Grogin Business</a></li>
          <li><a href="#" class="hover:text-black">Sell Your Apps on Grogin</a></li>
          <li><a href="#" class="hover:text-black">Become an Affiliate</a></li>
          <li><a href="#" class="hover:text-black">Advertise Your Products</a></li>
          <li><a href="#" class="hover:text-black">Self-Publish with Us</a></li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4">Let Us Help You</h3>
        <ul class="space-y-2 text-sm text-gray-700">
          <li><a href="#" class="hover:text-black">Your Orders</a></li>
          <li><a href="#" class="hover:text-black">Returns & Replacements</a></li>
          <li><a href="#" class="hover:text-black">Privacy Policy</a></li>
          <li><a href="#" class="hover:text-black">Cookie Settings</a></li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4">Get to Know Us</h3>
        <ul class="space-y-2 text-sm text-gray-700">
          <li><a href="#" class="hover:text-black">About Grogin</a></li>
          <li><a href="#" class="hover:text-black">Careers</a></li>
          <li><a href="#" class="hover:text-black">Store Locations</a></li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4">Download Our App</h3>
        <div class="space-y-3">
          <div class="flex items-center ">
            <img src="./maidy/googleplay.svg" alt="Google Play" class="w-28">
            <p class="text-sm ml-2">-10% Discount</p>
          </div>
          <div class="flex items-center ">
            <img src="./maidy/appstore.svg" alt="App Store" class="w-28">
            <p class="text-sm ml-2">-20% Discount</p>
          </div>
          <p class="text-sm">Follow us:</p>
          <div class="flex space-x-4">
            <a href="#"><img src="./maidy/facebook.svg" alt="Facebook" class="p-2 rounded bg-[#ffff] "></a>
            <a href="#"><img src="./maidy/x.svg" alt="X" class="p-2 rounded bg-[#ffff]"></a>
            <a href="#"><img src="./maidy/instagram.svg" alt="Instagram" class="p-2 rounded bg-[#ffff]"></a>
            <a href="#"><img src="./maidy/linkedin.svg" alt="LinkedIn" class="p-2 rounded bg-[#ffff]"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="border-t border-gray-300">
  <div class="px-4 md:px-8 lg:px-16 py-4 bg-gray-100">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-start md:items-center gap-4">
      <div>
        <p class="text-sm text-gray-600">© 2025 Abdel Hamed. Powered by <span class="text-purple-600 font-medium">dev dick co.</span></p>
        <div class="flex space-x-3 mt-2">
          <img src="./buay/visa.svg" alt="Visa" >
          <img src="./buay/mastercard.svg" alt="Mastercard">
          <img src="./buay/paypal.svg" alt="Paypal">
          <img src="./buay/skrill.svg" alt="Skrill" >
          <img src="./buay/karna.svg" alt="Karna" >
        </div>
      </div>
      <ul class="flex flex-wrap gap-4 text-sm text-gray-700 underline">
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Order Tracking</a></li>
      </ul>
    </div>
  </div>
</footer>
