<main class=" bg-[#634C9F] text-[#fff]  flex felx-row  w-full  justify-center items-center gap-2 ">
    <div>
        <h2>FREE delivery & 40% Discount for next 3 orders! Place your 1st order in.</h2>
    </div>
    <div class="flex felx-row justify-center items-center gap-2">
        <div class="flex ml-3">
            <samp>Until the end of the sale:</samp>
            <h2>47</h2>
            <samp>Days</samp>
        </div>
        <div class="flex">
            <h2>06</h2>
            <samp>hours</samp>
        </div>
        <div class="flex">
            <h2>57</h2>
            <samp>minutes</samp>
        </div>
        <div  class="flex">
            <h2>08</h2>
            <samp>sec.</samp>
        </div>
    </div>
</main>
