<div class="relative bg-[#FFF7ED] border border-[#FFEDD5] rounded-lg flex flex-col items-start p-4 w-full mx-auto bg-cover bg-center"
    style="background-image: url('./img/img4.png');">
    <h3 class="font-bold text-2xl leading-7 text-[#EA580C] tracking-tight mb-2 z-10">
        In store or online your health & safety is our top priority
    </h3>
    <p class="font-normal text-sm leading-4 text-[#6B7280] tracking-tight z-10">
        The only supermarket that makes your life easier, makes you enjoy life and makes it better
    </p>
</div>