.w-full {
    width: 100%;
  }
  
  .bg-gray-200 {
    background-color: #e5e7eb;
  }
  
  .bg-red-500 {
    background-color: #f87171;
  }
  
  .bg-green-500 {
    background-color: #34d399;
  }
  
  